main{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: 0.5s ease;
    top: 0;

}

.saved-list{
    left: 0;
}
.saved-list.active{
    left: 0;
}
.saved-list.inactive{
    left: -100%;
    opacity: 0;
}
.saved-planner{
    left: 100%;
}
.saved-planner.active{
    left: 0;
}
.saved-planner.inactive{
    left: 100%;
    opacity: 0;
}




.bg-choose{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: calc(100px + 5%);
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.116) inset;
    display: flex;
    overflow: hidden;
    border-radius: 30px;
    z-index: 999;
    
}

.choice{
    flex: 1 1 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.choice:focus{
    outline: none;
}

.chosen{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background-color: var(--color1);
    border-radius: 30px;
    transition: 0.5s ease-out;
}

.chosen.left{
    left: 0;
}

.chosen.right{
    left: 50%;
}
