<main>
    <div class="bg-choose">
        <div class="chosen" [ngClass]="showList?'left':'right'"></div>
        <button class="choice" (click)='showList = true'></button>
        <button class="choice" (click)='showList = false'></button>
        
    </div>

    <section class='saved-list' [ngClass]='showList?"active":"inactive"'>
        <app-saved-list></app-saved-list>
    </section>
    <section class='saved-planner' [ngClass]='!showList?"active":"inactive"'>
        <app-saved-planner></app-saved-planner>
    </section>
</main>
