 /* GENERAL STUFF */

main{

    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0 15% 20% 15%;
    position: absolute;
    left: 0;
    top: 0;
}

button:focus{
  outline: none;
}

.profile-background{
  width: 100%;
  height: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url('../../../assets/images/BGs/wave1.svg');
  background-size: cover;

}

section{
    width: 100%;
    padding: 3rem;
    margin-bottom: 3rem;
    border-radius: 1.25rem;
    /*
    box-shadow: 0 3px 4px 2px rgba(128, 128, 128, 0.11);
    */
    z-index: 5;
    position: relative;
    background-color: #ffffff;

}

section:first-of-type{
  box-shadow: none;
}

.section-title{
    width: 100%;
    margin: 4rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    
}

.section-title button{
    width: 2.4rem;
    height: 2.4rem;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 50%;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    background-image: url('../../../assets/icons/account/edit.svg');
    background-size: 1.2rem 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.7rem;
}
.section-title button:hover{
    background-color: rgba(0, 0, 0, 0.219);
}

.subsection-title{
    width: 100%;
    margin: 5rem 0 2rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(180, 179, 179, 0.308);
    padding: 1rem 0;
}



div > .subsection-title:first-of-type{
    margin-top: 0;
}






.image-background{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: calc(10vh + 550px);
  justify-content: center;
  align-items: center;
  z-index: 0;

  
}
.image-background img{
  min-width: 100%;

  
}
.image-background::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.384) inset;
}
.image-background > button{
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  width: 4rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2px 1px rgba(27, 27, 27, 0.096);
  border-radius: 50%;
  border: none;
  background-image: url('../../../assets/icons/account/picture.svg');
  background-position: center;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  z-index: 9999;
  filter: invert();
  transition: 0.2s ease;
}

.image-background > button:hover{
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

.image-background-buttons{
  position: absolute;
  left: -1rem;
  top: 2.5rem;
  transform: translate(0%, 0);
  display: flex;


}
.image-background-buttons > button{
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: none;
}
.image-background-accept{
  background-image: url('../../../assets/icons/account/accept2.svg');
  background-position: center;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
}

.image-background-decline{
  background-image: url('../../../assets/icons/account/close1.svg');
  background-position: center;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
}





/* PROFILE GENERAL */

.profile-general{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 5% 10%;
    padding-bottom: 0;
    margin-bottom: 0;
    background: transparent;
    overflow: hidden;
    

}

.profile-general > *{
    
}

.image{
  position: relative;
}

.image > img{
  position: absolute;
  left: calc(50% - 275px);
  top: calc(50% - 275px);
  
  width: 550px;
  height: 550px;
  animation: rotate 120s infinite linear;
  
  filter: grayscale(100%) brightness(50%);
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(359.9deg);
  }
}

.image-wrap{
    width: 300px;
    height: 300px;
    
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    margin: 5rem auto;
    border: 4px solid rgb(41, 41, 41);
    

}

.image-wrap img{
    position: relative;
    height: 100%;
}

.image-wrap-buttons{
  width: 300px;
  height: 300px;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  position: absolute;
  transform: rotate(140deg);
  z-index: 9;
}

.image-wrap-buttons button{
  z-index: 20;
  border: none;
  border: 1px solid black;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-position: center;
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  backdrop-filter: invert();
  cursor: pointer;
  top: -1rem;
  transition: 0.5s;
}


.img-accept{
  background-image: url('../../../assets/icons/account/accept2.svg');
  transform: rotate(-140deg);
  left: calc(35% - 1rem);
  

}

.img-decline{
  background-image: url('../../../assets/icons/account/close1.svg');
  transform: rotate(-140deg);
  left: calc(60% - 1rem);
 
}

.img-accept:hover, .img-decline:hover{
  opacity: 1;
}

.img-accept:hover ~ .img-decline{
  opacity: 0.5;
}
.image-wrap-buttons:hover + .img-decline  .img-accept{
  opacity: 0.5;
}

input[type='button']{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.666);
    background-size: 4rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/icons/account/picture2.svg');
    transition: 0.3s;
    z-index: 10;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
input[type='button']:hover{
    opacity: 0.6;
}

.names{
  margin-top: 4rem;
  padding: 1rem 3.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(41, 41, 41);
  box-shadow: 0 3px 4px 2px rgba(128, 128, 128, 0.11);
  border-radius: 1rem;
}

.name{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    
}

.email{
    font-size: 1rem;
    font-size: 400;
    text-align: center;
}







/* Profile info */


.profile-info{
    display: flex;
    flex-wrap: wrap;

}
.desc{
    flex: 1 1 15rem;
    margin: 0 1rem;
    animation: fadeIn 1s;
    position: relative;
}

.desc > div{
  animation: fadeIn 1s;
}

.desc div{
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
::slotted(*){
  max-width: 100%;
}

.info{
    flex: 1 1 15rem;
    margin: 0 1rem;
    animation: fadeIn 1s;
}

.activity{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem 0;
  margin-left: 0.5rem;
  padding: 0 1rem;
  box-shadow: 0 0px 2px 1px rgba(128, 128, 128, 0.336);
  border: none;
  transition: 0.3s;
}
.activity p{
  font-weight: 600;
  color: white;
}
.activity img{
  width: 1.5rem;
  height: 1.5rem;
  filter: invert();
}

.Horseriding{background-color: rgb(119, 43, 43);}
.Connection{background-color: rgb(226, 118, 17);}
.Travel{background-color: rgb(255, 145, 0);}
.Meeting{background-color: rgb(218, 80, 0);}
.Cycling {background-color: rgb(171, 245, 0);}
.Walking {background-color: rgb(49, 245, 0);}
.Hiking {background-color: rgb(118, 139, 25);}
.Camping{background-color: rgb(251, 255, 0);}
.Nature{background-color: rgb(38, 139, 25);}
.Winning {background-color: rgb(255, 217, 0);}
.Canoe{background-color: rgb(0, 174, 255);}
.Swimming{background-color: rgb(0, 102, 255);}
.Fishing{background-color: rgb(0, 255, 221);}
.Reading{background-color: rgb(147, 0, 245);}
.Knowledge{background-color: rgb(84, 25, 139);}
.Meditation{background-color: rgb(212, 0, 106);}
.Peace{background-color: rgb(243, 0, 150);}
.Gaming{background-color: rgb(209, 0, 35);}
.Tinkering{background-color: rgb(71, 71, 71);}

.user-activities{
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  padding: 2rem 0;
  width: 100%;
  
}
.activity-filter-wrap > button{
  transform: scale(1.4);
}

.activity-filter-wrap.active{
  filter: brightness(100%) grayscale(0%);
}

.activity-filter-wrap.inactive{
  filter: grayscale(100%) brightness(70%);
}







/* input field + saved input field */
.input-box {
    position: relative;
    padding: 1.2rem 1rem 0.5rem 1rem ;
    margin-top: 1rem;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 0.75rem;
    overflow: hidden;
    
  }
  
  .input-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .input-field::placeholder {
    color: transparent;
  }
  .input-field:placeholder-shown ~ .input-label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
  
  .input-label {
    position: absolute;
    top: 0.5rem;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #9b9b9b;
  }
  
  .input-field:focus {
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .input-field:focus ~ .input-label {
    position: absolute;
    top: 0.5rem;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #11998e;
    font-weight: 600;
  }
  
  /* reset input */
  .input-field:required, .input-field:invalid {
    box-shadow: none;
  }

  .input-box button{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    width: 3rem;
    height: 100%;
    background-color: rgb(195, 251, 255);
    background-image: url('../../../assets/icons/account/accept2.svg');
    background-size: 2rem 2rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* for when not editing */
  .info-static{
    position: relative;
    padding: 1.2rem 1rem 0.5rem 1rem ;
    margin-top: 1rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    max-height: 66px;
  }
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }100%{
      opacity: 1;
    }
  }

  .info-static div{
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .text-inactive{
    color: rgba(0, 0, 0, 0.24);
  }

  .info-static label{
    position: absolute;
    top: 0.5rem;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #4b4b4b;
    font-weight: 600;
  }













  /* OPTIONS */

  .profile-options{
    
  }
  .option{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    font-size: 1rem;
    padding: 1rem 0;
    max-width: 400px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.11);
  }

  .toggle-control {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 22px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .toggle-control input:checked ~ .control {
    background-color: var(--color1);
  }
  .toggle-control input:checked ~ .control:after {
    left: 32px;
  }
  .toggle-control .control {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    background-color: darkgray;
    -webkit-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
  }
  .toggle-control .control:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: white;
    -webkit-transition: left 0.15s ease-in;
    transition: left 0.15s ease-in;
  }

  .profile-options button{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: var(--color1);
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 2px 1px rgb(230, 230, 230);

  }








  /* STATS */

  .profile-stats{
      display: flex;
      flex-wrap: wrap;
      background-color: white;
  }
  .stats{
      flex: 1 1 25rem;
      margin: 0 1rem;
      position: relative;
      
  }
  .stats-title{
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 1rem;
  }

  .canvas-wrap{
      display: flex;
      width: 100%;
      position: relative;
      height: 30vh;
  }

  .stats canvas{
    max-width: 100%;
    position: relative;
    z-index: 10;
  }

