
<main>


    <button class="switch switch-posts" (click)='viewFeed = true' *ngIf='!viewFeed'>
        <img src="assets/icons/account/arrow-left.svg" alt="">
    </button>
    <button class="switch switch-make-posts" (click)='viewFeed = false' *ngIf='viewFeed'>
        <img src="assets/icons/account/add-post.svg" alt="">
    </button>


    <section class="posts" [ngClass]='viewFeed?"active":"inactive"' (scroll)='onScroll($event)'>

        <div class='post' *ngFor='let post of feed; index as i' #postSelector id='{{i}}'>
            <button class="post-options">
                <img src="assets/icons/account/more.svg" alt="">
            </button>
            <div class="post-intro-wrap">
                <div class="image-wrap">
                    <img [src]='post.image' alt="">
                </div>
                <div class="post-intro-text">
                    <div class="title">
                        {{post.title}} 
                    </div>  
   
                    <div class="post-tags">
                        <div class="tag" *ngFor='let tag of post.relatedTags[0].split(",")'>
                            {{tag}}
                        </div>
                    </div>   
                    <div class="type">
                        <span class="activity" *ngFor='let activity of post.relatedActivities[0].split(",")' [ngClass]='activity'>
                            <img [src]='"assets/icons/activities/" + activity + ".svg"' alt="">
                        </span>  
                    </div>  
                </div>
            </div>
            <div class="post-content-wrap">
                <button class="more-content" (click)='expandPost(i)'>
                    
                </button>
                <div class="content"  [ngClass]='expandedPosts.includes(i)?"full":"hidden"'>
                    <div class="content-text" [innerHTML]='post.content'></div>

                    <div class='companions'>
                        <div class="companion" *ngFor='let companion of post.relatedCompanions'>
                            {{companion}}
                        </div>
                    </div>
                    <div class="images">
    
                    </div>
                    <div class="related-place" *ngIf='post.relatedPlace'>
                        {{post.relatedPlace}}
                    </div>
                    <div class="related-companions" *ngIf='post.relatedCompanions'>
                        Companion
                    </div>
                    <div class="related-event" *ngIf='post.relatedEventID'>
                        Event
                    </div>
                </div>

            </div>
        </div>
        <div class="timeline">
            <div class="number numberPrev" *ngIf="prevPostNumber !== undefined" [ngClass]="prevPostNumber <= currentPostNumber? 'toTop': 'toBottom'">
                {{prevPostNumber}}
            </div>
            <!--
            <div class="number numberCurr">
                {{currentPostNumber}}
            </div>                
            -->

            
        </div>
    </section>




    <section class="make-post" [ngClass]='!viewFeed?"active":"inactive"'>
        


        <div class="make-post-content">
            <div class="make-post-title-wrap">
                <p class="make-post-title">
                    
                    <span>
                        Make new post 
                    </span>
                    <!--
                        <img src="assets/icons/account/add-post.svg" alt="">
                    -->
                    
                </p>            
            </div>

            <div class="post-image">
                <input #file type="file" id="selectedFile" style="display: none;"
                accept='image/*' 
                (change)="preview(file.files)"/>
                <input type="button" (click)="clickImage()" [ngClass]='!imgURL?"untouched":"touched"'/>
                <img [src]="imgURL" *ngIf="imgURL">
            </div>
            <div class="input-box field">
                <input type="text" class="input-field" placeholder="title" name="title" required minlength="1"
                [(ngModel)] = 'postData.title' #title='ngModel'/>
                <label for="title" class="input-label">Title</label>
                
            </div>  
            <div *ngIf='title.touched && title.invalid' class="error">Can't be empty</div>
            <div class="desc">
                <ckeditor type='inline' 
                [(ngModel)]="desc.editorData" 
                #content='ngModel'
                class="editor"
                [config]="{ language: 'en', uiColor: '#FFFFFF', magicline_color: 'transparent'}">
                </ckeditor>                  
            </div>
            <div *ngIf='content.touched && content.invalid' class="error">Can't be empty</div>



            <div class="related-activities">
                <div class="activity-filter-wrap" *ngFor='let activity of possibleActivities' [ngClass]="(chosenActivities.includes(activity)?'active':'inactive')">
                    <button class="activity"  [ngClass]='activity' (click)='pickActivity(activity)'>
                        <img [src]='"assets/icons/activities/" + activity + ".svg"' alt="">
                    </button>                 
                </div>
            </div>




            

            <div class="more" [ngClass]='moreVisible?"active":"inactive"'>

                <div class="more-one">
                    <div class="map-box">
                        <div class="input-box field">
                            <input type="" class="input-field" placeholder="Name" name="name" id='name' required 
                                [(ngModel)] = 'postData.relatedPlace'
                                (keyup.enter)='checkMap(postData.relatedPlace)'/>     
                            <label for="org" class="input-label">Related place</label> 
                            <button (click)='checkMap(postData.relatedPlace)'>
                                <img src="assets/icons/general/search.svg" alt="">
                            </button>              
                        </div>
    
                        <div class='map'
                            leaflet 
                            [leafletOptions]="options"
                            id='map'
                            (leafletMapReady)="onMapReady($event)">
                        </div>         
                    </div>

                    <div class="other">
                        <!--
                        <div class="input-box field">
                            <input type="text" class="input-field" placeholder="org" name="org" id='org' required 
                                [(ngModel)] = 'postData.title'/>
                            <label for="org" class="input-label">Add to timelien</label>
                        </div> 
                        <div class="input-box field">
                            <input type="text" class="input-field" placeholder="org" name="org" id='org' required 
                                [(ngModel)] = 'postData.title'/>
                            <label for="org" class="input-label">Title</label>
                        </div>                             
                        -->
               
                    </div>

                </div>




                <div class="more-two">

                    <div class="add-companions">
                        <div class="input-box field">
                            <input type="text" class="input-field" placeholder="org" name="org" id='org' required 
                                [(ngModel)] = 'postData.title'/>
                            <label for="org" class="input-label">Related companions</label>
                            <!--
                            <button>
                                <img src="assets/icons/account/user.svg" alt="">
                            </button>                                
                            -->

                        </div>                         
                    </div>

                    <div class="related-event">
                        <div class="input-box field"> <!-- same search engine as in main -->
                            <input type="text" class="input-field" placeholder="org" name="org" id='org' required autocomplete='off'
                                [(ngModel)] = 'searchQuery'
                                (click) = 'searchYourEvents()'
                                (keyup) = 'searchYourEvents()'/>
                            <label for="org" class="input-label">Connect to event</label>

                            
                            <div class="event-list">
                                <div class="event" *ngFor='let event of searchedEvents' (click)='chooseRelatedEvent(event)'>
                                    <img [src]='event.iconImg' alt="">
                                    <p>{{event.title}}</p>
                                    
                                </div>
                            </div>

                        </div> 
                        <div class="chosen-event" *ngIf='relatedEvent'>
                            <img [src]='relatedEvent.iconImg' alt="">
                            <p>{{relatedEvent.title}}</p>
                            <button (click)='unchooseEvent()'></button>
                        </div>                        
                    </div>

                    <div class="add-tags">
                        <div class="input-box field"> 
                            <input type="text" class="input-field" placeholder="org" name="org" id='org' required
                                [(ngModel)] = 'currentTagText'
                                (keyup.enter) = 'addTag()'/>
                            <label for="org" class="input-label">Add tags</label>
                        </div>
                        <div class="chosenTags" >
                            <div class="tag" *ngFor='let tag of chosenTags'>{{tag}}</div>
                        </div>
                    
                    </div>

                </div>

            </div>
            <button class="show-more" (click)='moreVisible = !moreVisible' [ngClass]='moreVisible?"active":"inactive"'>
                <img src="assets/icons/general/arrow.svg" alt=""></button>

            <button class='save-post' (click)='addPost()'>
                Save post</button>


           
        </div>
 
    </section>
</main>

