
    <section class="nav">

    </section>
    <section class='timeline'>

    </section>
    <section class="posts">

        <div class='post' *ngFor='let post of feed; index as i' >
            <button class="post-options">
                <img src="assets/icons/account/more.svg" alt="">
            </button>
            <div class="post-intro-wrap">
                <div class="image-wrap">
                    <img [src]='post.image' alt="">
                </div>
                <div class="post-intro-text">
                    <div class="title">
                        {{post.title}}
                    </div>  
   
                    <div class="post-tags">
                        <div class="tag" *ngFor='let tag of post.relatedTags[0].split(",")'>
                            {{tag}}
                        </div>
                    </div>   
                    <div class="type">
                        <span class="activity" *ngFor='let activity of post.relatedActivities[0].split(",")' [ngClass]='activity'>
                            <img [src]='"assets/icons/activities/" + activity + ".svg"' alt="">
                        </span>  
                    </div>  
                </div>
            </div>
            <div class="post-content-wrap">
                <button class="more-content" (click)='expandPost(i)'>
                    
                </button>
                <div class="content" [innerHTML]='post.content' [ngClass]='expandedPosts.includes(i)?"full":"hidden"'>
                    
                </div>
                <div class='companions'>
                    <div class="companion" *ngFor='let companion of post.relatedCompanions'>
                        {{companion}}
                    </div>
                </div>
                <div class="images">

                </div>
            </div>
        </div>
        <div class='post' *ngFor='let i of [1,2,3]'>
            <div class="post-intro-wrap">
                <div class="image-wrap">
                    <img src="assets/images/BGs/mountains5.jpg" alt="">
                </div>
                <div class="post-intro-text">
                    <div class="title">
                        Feed post
                    </div>  
   
                    <div class="post-tags">
                        <div class="tag" *ngFor='let tag of [1,2,3,4,5]'>
                            Tag{{tag}}
                        </div>
                    </div>   
                    <div class="type">
                        <span class="activity" *ngFor='let activity of activities' [ngClass]='activity'>
                            <img [src]='"assets/icons/activities/" + activity + ".svg"' alt="">
                        </span>  
                    </div>  
                </div>
            </div>
            <div class="post-content-wrap">
                <button class="more-content">
                    
                </button>
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius tenetur quis asperiores vitae! Facilis totam dolore esse doloribus incidunt impedit eum tempora ad adipisci consequatur ratione quos assumenda corrupti, vero natus nostrum quae repellendus. Repudiandae eius explicabo optio officiis. Dolor nemo earum neque ea sapiente ex molestiae ipsum, optio, delectus suscipit soluta voluptas dolores accusantium quas aperiam illum numquam veritatis.
                </div>
                <div class='companions'>
                    companion 1, companion 2
                </div>
                <div class="images">

                </div>
            </div>
        </div>
    </section>
