
    <section class="nav">

    </section>
    <section class='timeline'>

    </section>
    <section class="posts">

        <div class='post' *ngFor='let post of feed; index as i' >
            <button class="post-options">
                <img src="assets/icons/account/more.svg" alt="">
            </button>
            <div class="post-intro-wrap">
                <div class="image-wrap">
                    <img [src]='post.image' alt="">
                </div>
                <div class="post-intro-text">
                    <div class="title">
                        {{post.title}}
                    </div>  
   
                    <div class="post-tags">
                        <div class="tag" *ngFor='let tag of post.relatedTags[0].split(",")'>
                            {{tag}}
                        </div>
                    </div>   
                    <div class="type">
                        <span class="activity" *ngFor='let activity of post.relatedActivities[0].split(",")' [ngClass]='activity'>
                            <img [src]='"assets/icons/activities/" + activity + ".svg"' alt="">
                        </span>  
                    </div>  
                </div>
            </div>
            <div class="post-content-wrap">
                <button class="more-content" (click)='expandPost(i)'>
                    
                </button>
                <div class="content" [innerHTML]='post.content' [ngClass]='expandedPosts.includes(i)?"full":"hidden"'>
                    
                </div>
                <div class='companions'>
                    <div class="companion" *ngFor='let companion of post.relatedCompanions'>
                        {{companion}}
                    </div>
                </div>
                <div class="images">

                </div>
            </div>
        </div>
    </section>
