

<main>

    <div class="background" [ngClass]='currentSection === 1?"active":"inactive"'>
        <input #file type="file" id="selectedFile" style="display: none;"
        accept='image/*' 
        (change)="preview(file.files)"/>
        <input type="button" (click)="clickImage()" [ngClass]='!imgURL?"untouched":"touched"'/>
        <img [src]="imgURL" *ngIf="imgURL">
    </div>
    <div class="current-section-titles">
        <div class="current-section-title" 
        *ngFor='let name of sectionNames; index as i' 
        [style.top]='(i - currentSection + 1) * 40 + "px"' 
        [ngClass]='currentSection === (i+1)?"active":"inactive"'>
            <span>
                {{i + 1}}
            </span>
            <p>
                {{sectionNames[i]}}
            </p>            
        </div>

    </div>
    <button class="next-section section-change" (click)='nextSection()'>
        <img src="assets/icons/account/next2.svg" alt="">
    </button>
    <button class="prev-section section-change" (click)='prevSection()'>
        <img src="assets/icons/account/next2.svg" class="rotated" alt="">
    </button>
    <!--
    <div class="background-progress" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="400 50 800 190" id='bg-progress'>
            <path fill="#0099ff" fill-opacity="1" d="M0,128L24,154.7C48,181,96,235,144,250.7C192,267,240,245,288,224C336,203,384,181,432,165.3C480,149,528,139,576,160C624,181,672,235,720,224C768,213,816,139,864,122.7C912,107,960,149,1008,154.7C1056,160,1104,128,1152,128C1200,128,1248,160,1296,192C1344,224,1392,256,1416,272L1440,288L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path>
        </svg>
    </div>        
    -->





    <section class="starters" [style.left]='-(currentSection - 1) * windowWidth + "px"'>
        <!--
        <div class="icon-wrap">
            <input #file type="file" id="selectedFile" style="display: none;"
            accept='image/*' 
            (change)="preview(file.files)"/>
            <input type="button" (click)="clickImage()" />
            <img [src]="imgURL" *ngIf="imgURL">
        </div>            
        -->

        <div class="input-box field">
            <input type="text" class="input-field" placeholder="Name" name="name" id='name' required 
            [(ngModel)] = 'info.name' #name='ngModel' minlength="1" maxlength="30" />
            <label for="name" class="input-label">Event name</label>
        </div>
        <div *ngIf='name.errors'>
            {{name.errors.minlength}}
            <div *ngIf='name.touched && name.errors.minlength' class="error">Can't be empty</div>
            <div *ngIf='name.touched && name.errors.maxlength' class="error">Can't be be longer than 30 characters</div>            
        </div>


        <div class="input-box field">
            <input type="text" class="input-field" placeholder="org" name="org" id='org' required 
            [(ngModel)] = 'info.organisator' #organisator='ngModel' maxlength="20" minlength="1"/>
            <label for="org" class="input-label">Organisator</label>
        </div>  
        <div *ngIf='organisator.touched && organisator.errors.minlength' class="error">Can't be empty</div>
        <div *ngIf='organisator.touched && organisator.errors.maxlength' class="error">Can't be be longer than 30 characters</div>

        <div class="event-types">
            <button class="event-type" *ngFor='let type of eventTypes' (click)='pickType(type)' [ngClass]="(chosenType === type?'active':'naah')">
                <span [class]='[type]' class="img" alt=""></span>
                <div>{{type}}</div>
            </button>

        </div>
        <div class="time-box">

            <div class="input-box field">
                <input type="datetime-local" class="input-field" placeholder="Start" name="start" id='start' required 
                [(ngModel)] = 'info.start'/>
                <label for="start" class="input-label">Start</label>
            </div>  
            <div class="input-box field">
                <input type="datetime-local" class="input-field" placeholder="End" name="end" id='end' required 
                [(ngModel)] = 'info.end'/>
                <label for="end" class="input-label">End</label>
            </div>  

        </div>   

        <div class="input-box field">
            <input type="" class="input-field" placeholder="Name" name="name" id='name' required 
            [(ngModel)] = 'info.address'
            (keyup.enter)='checkMap(info.address)'/>
            <label for="name" class="input-label">Address</label>
            <button (click)='checkMap(info.address)'>
                <img src="assets/icons/general/search.svg" alt="">
            </button>
        </div>   

        <div class="map-box">
            <div class='map'
            leaflet 
            [leafletOptions]="options"
            id='map'
            (leafletMapReady)="onMapReady($event)">
            </div>         
        </div>  
    </section>


    

    <section class="general-info" [style.left]='-(currentSection - 2) * windowWidth + "px"'>
        <div class="info-required">

            <header class="subsection-title">Links & Contact</header>
            <div class="input-box field">
                <input type="text" class="input-field" placeholder="org" name="org" id='org' required 
                [(ngModel)] = 'info.website1'/>
                <label for="org" class="input-label">Website 1 (link)</label>
            </div>  
            <div class="input-box field">
                <input type="text" class="input-field" placeholder="org" name="org" id='org' required 
                [(ngModel)] = 'info.website2'/>
                <label for="org" class="input-label">Website 2 (link)</label>
            </div>  
            <div class="input-box field">
                <input type="text" class="input-field" placeholder="org" name="org" id='org' required 
                [(ngModel)] = 'info.phone'/>
                <label for="org" class="input-label">Phone</label>
            </div>  
            <div class="input-box field">
                <input type="email" class="input-field" placeholder="org" name="org" id='org' required 
                [(ngModel)] = 'info.email'/>
                <label for="org" class="input-label">E-mail</label>
            </div>  


        </div>



        <div class="info-additional">


            <header class="subsection-title">Tags</header>

            <div class="event-tags">
                <button class="event-tag" *ngFor='let tag of eventTags' (click)='pickTag(tag)' [ngClass]="(chosenTags.includes(tag)?'active':'naah')">
                    <div>{{tag}}</div>
                </button>
            </div>
            <header class="subsection-title">Requirements</header>

            <div class="input-box field">
                <input type="number" class="input-field" placeholder="Price" name="price" id='price' required 
                [(ngModel)] = 'info.price'/>
                <label for="price" class="input-label">Price</label>
            </div> 
            <div class="input-box field">
                <input type="text" class="input-field" placeholder="org" name="org" id='org' required 
                [(ngModel)] = 'info.ticketsLink'/>
                <label for="org" class="input-label">Link to tickets</label>
            </div>  

            <div class="input-box field">
                <input type="input" class="input-field" placeholder="Name" name="name" id='name' required 
                (keyup.enter) = 'addRequirement(additionalRequirement)'
                [(ngModel)] = 'additionalRequirement'/>
                <label for="name" class="input-label">Additional</label>
                <button (click)='addRequirement(additionalRequirement)'>
                    <img src="assets/icons/account/accept2.svg" alt="">
                </button>
            </div> 
            <div class="additional" *ngFor='let requirement of additionalRequirements' >
                {{requirement}}
                <button (click)='deleteRequirement(requirement)'>
                    <img src="assets/icons/account/cancel.svg" alt="">
                </button>
            </div>




            <header class="subsection-title">Additional info</header>       
            <div class="input-box field">
                <input type="input" class="input-field" placeholder="Name" name="name" id='name' required />
                <label for="name" class="input-label">What?</label>
            </div>      
        </div>

    </section>










    

    <section class="description" [style.left]='-(currentSection - 3) * windowWidth + "px"'>
        <ckeditor type='inline' 
        [(ngModel)]="desc.editorData" 
        class="editor"
        [config]="{ language: 'en', uiColor: '#FFFFFF', magicline_color: 'transparent'}">
        </ckeditor>  

    </section>










    

    <section class="plan" [style.left]='-(currentSection - 4) * windowWidth + "px"'>
        <div class="timeline-add">
            <div class="timeline-input-wrap">
                <div class="timeline-add-header">
                    <div class="input-box field">
                        <input type="text" class="input-field" placeholder="Title" name="title" id='title' required 
                        [(ngModel)] = 'timelineEvent.title'/>
                        <label for="title" class="input-label">Title</label>
                    </div> 
                    <div class="input-box field">
                        <input type="text" class="input-field" placeholder="time" name="time" id='time' required 
                        [(ngModel)] = 'timelineEvent.time'/>
                        <label for="time" class="input-label">Time (optional)</label>
                    </div> 
                </div>
                <div class="timeline-add-text" name='timeline-text' (keyup.enter)='addTimeline()'>
                    <textarea name="" id="" cols="30" rows="10"
                    [(ngModel)] = 'timelineEvent.desc'></textarea>
                </div>   
                <button class="timeline-add-button" (click)='addTimeline()'>
                    Append plan point
                </button>             
            </div>



        </div>
        <div id="timeline-content" *ngIf='timelineEvents.length !== 0'>
            
            <ul class="timeline">
                <li class='timeline-event' *ngFor='let event of timelineEvents' [attr.data-date]="event.time">
                    <h3>{{event.title}}</h3>
                    <p>{{event.desc}}</p>
                    <button (click)='deleteTimeline(event)'></button>
                </li>
            </ul>

        </div>
    </section>  



    <section [style.left]='-(currentSection - 5) * windowWidth + "px"'>
        <button class="button-submit" (click)='post()' [style.left]='-(currentSection - 5) * windowWidth + "px"'>
            Post event
        </button>   
    </section>
      
    
 

    
</main>


