<main>
    <div class="search">
        <button class="show-invites-button" (click)='invitesShown = !invitesShown'>
            <img src="assets/icons/general/companion-invited.svg" alt="">
        </button>
        <div class="input-field">
            <input type="text" [(ngModel)]='searchQuery' (keyup)='searchCompanions()'>
            <img src="assets/icons/general/search.svg" alt="">
        </div>
    </div>
    <section class="companions">
        <!--
        <div class="companion" *ngFor='let companion of companions;index as i'>
            <div class="companion-image">
                <img [src]='companionsInfoArray[i].img || async' alt="">
            </div>
        </div>        
        -->
        <div class="companion" *ngFor='let companionInfo of companionsInfoArray; index as i  '>
                    
                    
            <div class='companion-content' *ngIf='companionInfo | async; let companion'>
                <div class="companion-image">
                    <img [src]='companion.image' alt="">
                </div>
                <div class="companion-name">
                    {{companion.username}}
                </div>
                <div class="companion-email">
                    {{companion.email}}
                </div>
                <div class="companion-links">
                    <button><img src="assets/icons/account/comment2.svg" alt=""></button>
                    <button><img src="assets/icons/account/board.svg" alt=""></button>
                </div>
                <button class="companion-options-button" *ngIf='companionsRefs' (click)='openOptions(companionsRefs[i], $event)'>
                    <img src="assets/icons/account/more.svg" alt="">
                    <div class="companion-options"  [ngClass]='viewedCompanion == companionsRefs[i] ? "active": "inactive"' (click)='$event.stopPropagation()'>
                        <button class="companion-option block">Block</button>
                        <button class="companion-option delete" (click)='deleteCompanion()'>Delete</button>

                    </div>
                </button>

                
                
                
                <!--
                <div class="invite-content-buttons">
                    <button (click)='cancelCompanionInvite(invites.to, invitesInfoArray.to, i)'><img src="assets/icons/account/close1.svg" alt="" ></button>
                </div>                    
                -->

            </div>
            
        </div>
        

        <div class="pages">

        </div>
    </section>
    <section class="invites" [ngClass]='invitesShown ? "active" : "inactive"'>
        <div class="invites-switch">
            <div class="switch-bg" [ngClass]='invitesTypeShown ? "active" : "inactive"'></div>
            <button (click)='invitesTypeShown = true' [ngClass]='invitesTypeShown ? "active" : "inactive"'>Sent</button>
            <button (click)='invitesTypeShown = false' [ngClass]='!invitesTypeShown ? "active" : "inactive"'>Recieved</button>
        </div>
        
        <div class="invites-wrap">
            <div class="invites-to" [ngClass]='invitesTypeShown ? "active" : "inactive"'>
                <div class="invite invite-to" *ngFor='let invite of invitesInfoArray.to; index as i  '>
                    
                    <div *ngIf='!(invite | async)'>
                        <div class="spinner-dots">

                        </div>
                    </div>
                    <div class='invite-content' *ngIf='invite | async; let userInfo'>
                        <div class="invite-content-image">
                            <img [src]='userInfo.image' alt="">
                        </div>
                        <div>
                            <div class="invite-username">
                                {{userInfo.username}}
                            </div>
                            <div class="invite-email">
                                {{userInfo.email}}
                            </div>
                        
                                              
                        </div>

                        <div class="invite-content-buttons">
                            <button (click)='cancelCompanionInvite(invites.to, invitesInfoArray.to, i)'><img src="assets/icons/account/close1.svg" alt="" ></button>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="invites-from" [ngClass]='!invitesTypeShown ? "active" : "inactive"'>
                <div class="invite invite-from" *ngFor='let invite of invitesInfoArray.from; index as i'>

                    <div class='invite-content' *ngIf='invite | async; let userInfo'>
                        <div class="invite-content-image">
                            <img [src]='userInfo.image' alt="">
                        </div>
                        {{userInfo.email}}
                        {{userInfo.username}}
                        <div class="invite-content-buttons">
                            <button (click)='acceptCompanionInvite(invites.from[i])'>
                                <img src="assets/icons/account/accept1.svg" alt="" >
                            </button>
                            <button (click)='cancelCompanionInvite(invites.from, invitesInfoArray.from, i)'>
                                <img src="assets/icons/account/close1.svg" alt="" >
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>        
        

    </section>    
</main>




