.with-padding{
    padding: 0 2rem;
}
.no-padding{
    padding: 0;
}


.flex-center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.section-title{
    width: 100%;
    margin: 6rem 0 1rem 0;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.137);
}

a{
    color: var(--color1);
    text-decoration: none;
}

.general{

}

.general > *{
    margin-bottom: 1.5rem;
}



/* desc */

.wrap {

    padding: 2rem 0;
    padding-bottom: 0;
    box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.719);
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrap > *{
    z-index: 10;
}
.wrap:nth-child(1){
    z-index: 1;
}

.wrap-background{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    filter: brightness(50%) opacity(0.9) grayscale(100%);
}
.wrap-background img{
    min-width: 100%;
    min-height: 100%;
}
.intro{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    color: white;
    
}
.intro img{
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    border-radius: 1rem;
}

.desc-name{
    font-size: 2rem;
    font-weight: 500;
}

.intro-type{
    
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;

    color: white;
    text-align: center;
    margin-left: 0rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.intro-type::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 3rem;
    height: 2px;
    border-radius: 1px;
    transform: translate(-50%, 0);
    background-color: rgba(255, 255, 255, 0.13);
}

.type{
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 1rem;
    background-color: var(--color1);
    margin: auto;
    display: flex;
}

.intro-type img{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0;
    margin-left: 0.5rem;
    filter: invert();
}


/* tags */
.tags{
    width: 100%;
    flex-wrap: wrap;
}

.tag{
    padding: 0.4rem 0.7rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color1);
    margin: 0.5rem;
    
}

.tag-img{
    width: 1.1rem;
    height: 1.1rem;
    background-size: contain;
    margin: 0.4rem;
    background-repeat: no-repeat;
    
}

.date{
    width: 70%;
    
    display: flex;
    align-items: center;
    align-content: space-around;
    position: relative;
    margin: 3rem auto;

}

.date-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
    z-index: 100;
    filter: invert();
}

.date-start,
.date-end{
    flex: 1 1 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0.75rem 1rem;
    margin: 0 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    filter: grayscale(10%) brightness(96%);
    transition: 0.3s;
    color: rgb(41, 41, 41);
    z-index: 19;
    background-color: var(--color1);
    border-width: 4px 0px;
}
.date-start::before,
.date-end::before{
    content: '';
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    border-radius: 0.5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    z-index: -1;
    background-color: var(--color3);
}

.date-text-bigger{
    font-weight: 600;
    font-size: 1.3rem;
}
.date-start{
    margin-right: 2rem;
}

.date-end{
    margin-left: 2rem;
}




.place{
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    margin: 2rem auto;
    border-radius: 1rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s;
    
    
}

.place:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}


.place:hover > img{
    filter: none;
    animation: markerRotate 0.5s ease forwards;
    
}
.place img{
    height: 2rem;
    margin-left: 1rem;
    filter: invert();
    bottom: 0;
    left: 0;
    position: relative;
    transition: 0.5s;
    
}

@keyframes markerRotate {
    0%{
        transform: rotateZ(0deg);
        left: 0;
    }
    50%{
        transform: rotateZ(-90deg);
        left: 0;
    }
    100%{
        transform: rotateZ(-90deg);
        left: 10px;
    }
}

.participants{
    width: 100%;
    margin: 0rem 0;
    display: flex;
}

.participant{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.3rem;
    cursor: pointer;
    
}
.participant::before{
    position: absolute;
    border-radius: 50%;
    content: '';
    left: -0.2rem;
    top: -0.2rem;
    width: 3.4rem;
    height: 3.4rem;
    background-color: rgba(0, 0, 0, 0.137);
}
.participant img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.specs{
    display: flex;
    
    align-items: flex-start;
    flex-wrap: wrap;
}

.spec{
    display: flex;
    font-size: 1rem;
    margin: 0.6rem 0;
    margin-right: 0.6rem;
    padding: 0.5rem 1rem;
    background-color: rgb(250, 250, 250);
    border-radius: 1rem;
    max-width: 60%;
    position: relative;
    align-content: center;
    align-items: center;
    border: 2px solid black;
    font-weight: 600;
}
.spec:nth-of-type(n){
    
    
}

.spec > img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.6rem;
}

  /* for when not editing */
  .info-static{
    position: relative;
    padding: 1.2rem 1rem 0.5rem 1rem ;
    margin-top: 1rem;
    flex: 1 1 20rem;
    
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: rgb(250, 250, 250);
    /*
    background-color: #171717;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='203' height='203' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23072426' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23092b2e' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23072426' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23092b2e' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%230a3336' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23260019' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%232e001f' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23360024' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%232e001f' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23260019' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23360024' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23260019' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23360024' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%232e001f' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23360024' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");

    color: white;
    */
  }
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }100%{
      opacity: 1;
    }
  }

  .info-static div{
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .text-inactive{
    color: rgba(0, 0, 0, 0.24);
  }

  .info-static label{
    position: absolute;
    top: 0.5rem;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #4b4b4b;
    font-weight: 600;
  }

.open{background-image: url('/assets/icons/tags/plant.svg');}
.closed{background-image: url('/assets/icons/tags/plant.svg');}

.amusement{background-image: url('/assets/icons/tags/amusement-park.svg')}


.requirements{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
}
.price-wrap{
    display: flex;
    margin: 2rem 0;

}

.price-wrap button{
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
}

.price{
    display: flex;
    padding: 0.6rem 1.4rem;
    border-radius: 1rem;
    background-color: var(--color1);
    align-items: center;

}
.price h3{
    margin: 0;

    font-size: 1.6rem;
    color: white;
}
.price p{
    font-size: 1rem;
}

.requirement{
    margin: 0.5rem;
}



/* GALLERY */


.gallery{
    height: calc(20vh + 120px);
    width: 100%;
    
    background-position: center;
    overflow: hidden;
    margin-top: 8rem;
    
}

.gallery img{
    position: relative;
    width: 100%;
    
}