<div class="account-wrap">
    <div class="account-nav">
        <div class="logo" [routerLink]='["/"]'>
            <span class="logo-text">Voyda</span>
            <!--
               <img src="assets/icons/general/logo.svg" alt=""> 
            -->
            
        </div>
        <ul>
            <li><a [routerLink]='["/account/profile"]' [ngClass]="(router.isActive('/account/profile',true))?'active':'naah'"><img src="assets/icons/account/user.svg" alt=""> Profile</a></li>
            <li><a [routerLink]='["/account/saved"]' [ngClass]="(router.isActive('/account/saved',true))?'active':'naah'"><img src="assets/icons/account/bookmark.svg" alt=""> Saved</a></li>
            <li><a [routerLink]='["/account/messages"]' [ngClass]="(router.isActive('/account/messages',true))?'active':'naah'"><img src="assets/icons/account/comment.svg" alt=""> Messages</a></li>
            <li><a [routerLink]='["/account/planner"]' [ngClass]="(router.isActive('/account/planner',true))?'active':'naah'"><img src="assets/icons/account/calendar.svg" alt=""> Planner</a></li>
        </ul>   
        <ul>
            <li><a [routerLink]='["/account/feed"]' [ngClass]="(router.isActive('/account/feed',true))?'active':'naah'"><img src="assets/icons/account/board.svg" alt=""> Feed</a></li>
        </ul>
        <ul>
            <li><a [routerLink]='["/account/my-events"]' [ngClass]="(router.isActive('/account/my-events',true))?'active':'naah'"><img src="assets/icons/account/event-star.svg" alt="">Your events</a></li>
            <li><a [routerLink]='["/account/new-event"]' [ngClass]="(router.isActive('/account/new-event',true))?'active':'naah'"><img src="assets/icons/account/event-ok.svg" alt="">New event</a></li>
        </ul>
        <ul>
            <li><a [routerLink]='["/account/options"]' [ngClass]="(router.isActive('/account/options',true))?'active':'naah'"><img src="assets/icons/account/settings.svg" alt=""> User options</a></li>
            <li><a href=""><img src="assets/icons/account/information.svg" alt=""> About</a></li>
   
        </ul>
    </div>
    <div class="account-display" >

        <router-outlet></router-outlet>
    </div>    
</div>
