@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.account-wrap{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}



.account-nav{
    position: relative;
    float: left;
    width: calc(10% + 150px);
    height: 100%;
    display: flex;
    align-items: flex-start;
    
    box-shadow: 0 0 3px 1px rgba(10, 10, 10, 0.329);
    
    background-color: #292929;
    overflow: hidden;
    z-index: 99;
    flex-direction: column;
}



.account-nav::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-image: url('../../assets/images/BGs/wave3.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}


.logo{
    width: 100%;
    padding: 3rem ;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logo:focus{
    outline: none;
}

.logo p{


}

.logo img{
    height: 3.5rem;
    width: 5.5rem;
    filter: invert();
    
}

.logo span {
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;

    font-family: 'Righteous', cursive;
    font-weight: 400;

    color: transparent;
    
  }
  
  .logo-text {
    background: linear-gradient(to right, orange,var(--color1));
  }
  

ul{
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

ul a {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.2rem 2rem;
    margin: 0 1rem;
    border-radius: 0.25rem;
    position: relative;
    transition: 0.1s ease;
    left: 0;
    
    color: rgba(255, 255, 255, 0.425);
    text-align: left;
}

ul a:hover{
    color: rgba(255, 255, 255, 0.897);
    background-color: rgba(243, 242, 242, 0.13);
    
}

a img{
    height: 0.9rem;
    width: 0.9rem;
    margin-right: 0.6rem;
    filter: invert() opacity(0.425);
}

ul a:hover img{
    filter: invert() opacity(0.9);
}

ul a.active img{
    filter: invert() opacity(1);
}

ul a.active{
    color: white;
    background-color: rgba(243, 242, 242, 0.185);
}

.account-display{
    position: relative;
    float: left;
    width: calc(90% - 150px);
    height: 100%;
    overflow: auto;
    background-color: rgb(240, 240, 240);
}

.account-display::-webkit-scrollbar-track
{

	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #252525;
    
}

.account-display::-webkit-scrollbar
{

	width: 12px;
	background-color: var(--color1);
}

.account-display::-webkit-scrollbar-thumb
{

	border-radius: 2px;
    background-color: var(--color1);
    max-height: 30vh;
}

.mobile-nav-button{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 1.5rem;
    top: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color1);
    border: none;
    z-index: 10000;
}
.mobile-nav-button img{
    margin-top: 0.75rem;
    width: 2rem;
    height: 2rem;
    filter: invert(10%);
}

.mobile-nav{
    left: -100%;
    top: 0;
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    display: none;
    align-items: flex-start;
    
    box-shadow: 0 0 3px 1px rgba(10, 10, 10, 0.329);
    
    background-color: #292929;
    overflow: hidden;
    z-index: 5000;
    flex-direction: column;
    transition: 0.5s ease;
}
.mobile-nav.active{
    left: 0;
}
.mobile-nav.inactive{
    left: -100%;
}



.mobile-nav::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-image: url('../../assets/images/BGs/wave3.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}


@media screen and (max-width: 800px){
    .account-nav{
        width: 0;
        display: none;
    }
    .account-display{
        width: 100%;
    }

    .logo{
        padding: 1.5rem;
        
    }
    ul a{
        padding: 0.5rem 2rem;
    }

    .mobile-nav{
        display: flex;
    }
    .mobile-nav-button{
        display: flex;
    }
    
}