<section class="profile-general">
    <div class="image-background">
        <img [src]="userData.backgroundImage" *ngIf="userData.backgroundImage"> <!--[src]="userData.image" *ngIf="userData" -->
    </div>  
    <div class="image">
      
        <img src="assets/icons/account/logo2.svg" alt="">


        <div class="image-wrap">
            <img [src]="userData.image" *ngIf="userData">
        </div>

    </div>

    <div class="general-info">
        <div class='info-names'>
            <div class="name">{{userData.username}}</div>
            <div class="email">{{userData.email}}</div>             
        </div>
        <div class="buttons">
            <button><img src="assets/icons/account/add-user.svg" alt=""> Add Companion</button>
            <button><img src="assets/icons/account/comment2.svg" alt="">Message</button>
        </div>

        <!--
        <div class="general-info-info">
            <div class="info-static">
                <div *ngIf='userData.email == ""' class='text-inactive'>Not provided</div>
                <div name='name'>{{userData.email}}</div>
                <label for="name">Email</label>
            </div>
        
            <div class="info-static">
                <div *ngIf='userData.phone == ""' class='text-inactive'>Not provided</div>
                <div name='name'>{{userData.phone}}</div>
                <label for="name">Phone</label>
            </div>              
        </div>            
        -->

     
    </div>

</section>
<!--
<section class='desc' [innerHTML]='userData.desc' *ngIf='userData.desc !== ""'>

</section>

<section class="contact">

</section>


<section class='more'>

</section>



    email: string;
    username: string;
    phone?: string;
    address?: string;
    website1?: string;
    website2?: string;
    desc?: string;
    statsTypes?: Array<object>;
    statsTime?: Array<object>;
    image?: string;
    
    comments?: Array<object>;

    instagram: string;
    facebook: string;
    twitter: string;
    linkedin: string;

    saved?: Array<{_id: string, id: string}>;

    _id?: string;
-->

