<section class="profile-general">
    <div class="image-background">
        <img [src]="userData.backgroundImage" *ngIf="userData">
    </div>  
    <div class="image">
      
        <img src="assets/icons/account/logo2.svg" alt="">


        <div class="image-wrap">
            <img [src]="userData.image" *ngIf="userData">
        </div>

    </div>

    <div class="general-info">
        <div class='info-names'>
            <div class="name" *ngIf='userData'>{{userData.username}}</div>   
            <div class="buttons">
                <button class='button-companion' (click)='sendCompanionInvite()' *ngIf='invateState === ""'><img src="assets/icons/general/companion-add.svg" alt=""></button>
                <button class='button-companion' (click)='deleteFromCompanions()' *ngIf='invateState === "isCompanion"'><img src="assets/icons/general/companion-add.svg" alt=""></button>
                <button class='button-companion' (click)='cancelCompanionInvite()' *ngIf='invateState === "toInvite"'><img src="assets/icons/general/companion-invited.svg" alt=""></button>
                <button class='button-companion' (click)='acceptCompanionInvite()' *ngIf='invateState === "fromInvite"'><img src="assets/icons/general/companion-accept.svg" alt=""></button>
                <button class="button-message"><img src="assets/icons/general/message-full.svg" alt=""></button>
            </div>       
        </div>  
    </div>

</section>


