<main>
    <section class="contacts">

        <div class="search">
            <div class="input-field">
                <input type="text" [(ngModel)]='searchQuery' (keyup)='searchConversations()'>
                <img src="assets/icons/general/search.svg" alt="">
            </div>
        </div>


        <div class="contact-types">
            <div class="switch-bg" [ngClass]='contactTypeShown ? "active" : "inactive"'></div>
            <button (click)='contactTypeShown = true'>Events</button>
            <button (click)='contactTypeShown = false'>Companions</button>
        </div>


        <div class="contacts-display">

            <div class="contact" *ngFor='let contact of searchedConversations; index as i' (click)='openConversation(contact)'>

                <span class="contact-color"></span>

                <div class="contact-info" *ngIf='conversationsUserInfo[i] | async; let userInfo'>
                    <div class="contact-img">
                        <img [src]=[userInfo.image] alt="">
                    </div>
                    <div class="text">
                        <div class="organisator-name" *ngIf='contact.userID1 !== userID'>{{contact.nick1}}</div>
                        <div class="organisator-name" *ngIf='contact.userID2 !== userID'>{{contact.nick2}}</div>
                        <div class="event-name">{{contact.conversationName || userInfo.username}}</div>                
                    </div>                
                </div>
                <div class="contact-message" *ngIf='contact.messages.length >= 1'>
                    {{contact.messages[contact.messages.length - 1].message}}
                </div>
                <div class="contact-message" *ngIf='contact.messages.length === 0'>
                    
                </div>


            </div>
        </div>
    </section>

    <section class="conversation" *ngIf='currentConversation'>
        <div class="row"> 
            <div class="col-md"> 1 of 3 </div> 
            <div class="col-md-auto"> 2 of 3 </div> 
            <div class="col-md-auto"> 3 of 3 </div> 
        </div>

        <div class="conversation-info" >
            <!--
            <div class="conversation-image">
                <img src="assets/icons/tags/fist.svg" alt="">
            </div>    
            
            
            <div class="contact-img" *ngIf='currentConversation.userID1 !== userID'>
                <img [src]=[currentConversation.userImg1] alt="">
            </div>
            <div class="contact-img" *ngIf='currentConversation.userID2 !== userID'>
                <img [src]=[currentConversation.userImg2] alt="">
            </div>            
        -->           

            <div class="conversation-name">
                <div class="organisator-name">{{currentConversation.nick1}}</div>
                <div class="event-name">{{currentConversation.conversationName}}</div>
            </div>
            <div class="conversation-options">
                
            </div>
        </div>



        <div class="conversation-messages" #messageBox>
            <!--
            <div class="message-wrap">
                
            </div>                
            -->
            <div class="message"></div>
            <div class="message"></div>
            <div class="message" *ngFor='let message of currentConversation.messages' [ngClass]='message.senderID === userID ? "message-mine" : "message-other"'>
                <div class="message-date">{{message.date}} </div>
                <div class="message-text">{{message.message}} </div>
            </div>
            <!--
            <div class="message" *ngFor='let message of messages' [ngClass]='message.senderID === userID ? "message-mine" : "message-other"'>
                <div class="message-date">{{message.date}} </div>
                <div class="message-text">{{message.message}} </div>
            </div>                 
            -->
    
            <div class="message"></div>
            <div class="message"></div>
            <div class="message"></div>
            <div class="message"></div>
        </div>



        <div class="write-message">
            <input type="text" [(ngModel)]='messageText' (keyup.enter)="sendMessage(messageText)">
            <button class="send" (click)="sendMessage(messageText)"></button>
        </div>


    </section>    
</main>
